---
const { href, ...props } = Astro.props;
const base = import.meta.env.BASE_URL.replace(/\/$/, ""); // Remove trailing slash
const localizedHref = (href.startsWith("/") ? `${base}${href}` : href) + (href.endsWith("/") ? "" : "/");
---
<a href={localizedHref} {...props}><slot /></a>

